<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Smily Accountant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SmilyAccountant.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Smily Accountant</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Smily</a>
                        </li> *@

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Finance</a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Finance" asp-controller="GeneralJournals" asp-action="Index">General Journals</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Finance" asp-controller="GeneralJournals" asp-action="PostedRecords">Posted General Journals</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Finance" asp-controller="ChartOfAccounts" asp-action="Index">Chart of Accounts</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Finance Administration</a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Finance" asp-controller="AccountCategories" asp-action="Index">Account Categories</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Finance" asp-controller="AccountSubCategories" asp-action="Index">Account Sub Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Finance" asp-controller="AccountTypes" asp-action="Index">Account Types</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Finance" asp-controller="BankAccounts" asp-action="Index">Bank Accounts</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Finance" asp-controller="FixedAssetCards" asp-action="Index">Fixed Asset Cards</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Finance" asp-controller="FAClassCodes" asp-action="Index">Fixed Asset Class Codes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Finance" asp-controller="FASubClassCodes" asp-action="Index">Fixed Asset Sub Class Codes</a>
                                </li>


                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Finance" asp-controller="GLAccountCards" asp-action="Index">GL Account Cards</a>
                                </li>
                            </ul>


                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">General Administration</a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="GeneralAdministration" asp-controller="Cities" asp-action="Index">Cities</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="GeneralAdministration" asp-controller="Contacts" asp-action="Index">Contacts</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="GeneralAdministration" asp-controller="Countries" asp-action="Index">Countries</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="GeneralAdministration" asp-controller="Currencies" asp-action="Index">Currencies</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="GeneralAdministration" asp-controller="Employees" asp-action="Index">Employees</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="GeneralAdministration" asp-controller="States" asp-action="Index">States</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="GeneralAdministration" asp-controller="Vendors" asp-action="Index">Vendors</a>
                                </li>

                            </ul>
                        </li>

                        @*     <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
                    </ul>



                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SmilyAccountant - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
