@model SmilyAccountant.Areas.Finance.Models.BankDeposit

@{
    ViewData["Title"] = "Edit";
}


<h4>Edit Bank Deposit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BankAccountId" class="control-label"></label>
                <select asp-for="BankAccountId" class="form-control" asp-items="ViewBag.BankAccountId"></select>
                <span asp-validation-for="BankAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepositAmount" class="control-label"></label>
                <input asp-for="DepositAmount" class="form-control" />
                <span asp-validation-for="DepositAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostingDate" class="control-label"></label>
                <input asp-for="PostingDate" class="form-control" />
                <span asp-validation-for="PostingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
