@{
    ViewData["Title"] = "Smily Accountant";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Smily Accountant</h1>
    <a href="https:\\www.google.com"> Have a look at our tutorial! </a>
</div>
