@{
    ViewData["Title"] = "Smily Accountant";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Smily Accountant</h1>
    <a href="https://www.youtube.com/watch?v=MYxEyLaJ28A"> Have a look at our tutorial! </a>
</div>
