@using SmilyAccountant.Areas.Finance.Models.Enums;
@using SmilyAccountant.Areas.Finance.Models.ViewModels;
@model GLAccountCardViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>GL Account Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AccountNo" class="control-label"></label>
                <input asp-for="AccountNo" class="form-control" />
                <span asp-validation-for="AccountNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountCategoryId" class="control-label"></label>
                <select asp-for="AccountCategoryId" class="form-control" asp-items="ViewBag.AccountCategoryId"></select>
                <span asp-validation-for="AccountCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountSubCategoryId" class="control-label"></label>
                <select asp-for="AccountSubCategoryId" class="form-control" asp-items="ViewBag.AccountSubCategoryId"></select>
                <span asp-validation-for="AccountSubCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountTypeId" class="control-label"></label>
                <select asp-for="AccountTypeId" class="form-control" asp-items="ViewBag.AccountTypeId"></select>
                <span asp-validation-for="AccountTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DebitCredit" class="control-label"></label>
                <select asp-for="DebitCredit" asp-items="@Html.GetEnumSelectList<DebitCreditBoth>()" class="form-control"></select>
                <span asp-validation-for="DebitCredit" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
