@model SmilyAccountant.Areas.Finance.Models.FixedAssetCard

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Fixed Asset Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FixedAssetCardId" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FAClassCodeId" class="control-label"></label>
                <input asp-for="FAClassCodeId" class="form-control" />
                <span asp-validation-for="FAClassCodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FASubClassCodeId" class="control-label"></label>
                <input asp-for="FASubClassCodeId" class="form-control" />
                <span asp-validation-for="FASubClassCodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" />
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
